<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
    <div id="body">
        <h2>人物列表</h2>
        <input type="text" placeholder="请搜索..." v-model="keyWord" />
        <ul>
            <li v-for="p in fillPersons" :key="p.id">{{p.name}}-{{p.age}}</li>
            <button @click="sortType = 2">升</button>
            <button @click="sortType = 1">降</button>
            <button @click="sortType = 0">原</button>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el:"#body",
            data: {
                sortType: 0,
                keyWord: '',
                persons: [
                    {
                        id: '001',
                        name: '马冬梅',
                        age: 30,
                        sex: '女'
                    },
                    {
                        id: '002',
                        name: '周冬雨',
                        age: 18,
                        sex: '女'
                    },
                    {
                        id: '003',
                        name: '周杰伦',
                        age: 19,
                        sex: '男'
                    },
                    {
                        id: '004',
                        name: '温兆伦',
                        age: 5,
                        sex: '男'
                    }
                ],
            },
            computed: {
                fillPersons() {
                    const res = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) != -1
                    })

                    if (this.sortType) {
                        res.sort((a,b) => {
                            if (this.sortType == 1) {
                                return b.age-a.age
                            } else {
                                return a.age-b.age
                            }
                        })
                    }

                    return res
                }
            }
        })
    </script>
</body>
</html>